
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('back3.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition:.5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

/*.navigation .btnLogin-popup :hover{
    background-color: #fff;
    color: #642a6c;
    
}
.navigation .btndocLogin-popup{
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    align-items: center;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: transform 1s;
}
*/


.wrapper{
    position: relative;
    width: 450px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 60px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*transform: scale(0);
    transition: transform .5s ease, height .2s ease;*/
}

/*.wrapper.active-popup{
    transform: scale(1);
}

.wrapper .active{
    height: 520px;

}*/

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position:absolute;
    top: 10px;
    right: 0;
    width: 40px;
    font-size: 1.5em;
    display: flex;
    cursor: pointer;
    color:#642a6c;
}

.form-box h2{
    font-size: 2em;
    color:rgba(26, 3, 41, 0.977);
    text-align: center;
  
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #642a6c;
   margin: 30px 0;
    
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#642a6c;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #642a6c;
    font-weight: 600;
    padding : 0 35px 0 5px;
}

.input-box .icon{
    position:absolute;
    right: 8px;
    font-size: 1.2em;
    color:#642a6c;
    line-height: 57px;
}

.remember-forgot{
    font: size 0.9em;
    color: #642a6c;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #646464;
    margin-left: 3px;
}

.remember-forgot a{
    color:#642a6c;
    text-decoration: none;
}
 .remember-forgot a:hover{
    text-decoration: underline;
 }

 .btn{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color:#fff;
    font-weight:700;
 }

 .login-register{
    font-size:1em;
    color:#642a6c;
    text-align: center;
    font-weight:600;
    margin: 25px 0 10px;
 }

 .login-register p a{
    color:#642a6c;
    text-decoration: none;
    font-weight:650;
 }

 .login-register p a:hover{
    text-decoration: underline;
 }